/* input[type=number], hide arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

input.search--input {
  min-width: 236px;
  background: var(--inputBackgrount);
  border: none;
  border-radius: 41px;
  padding: 0 15px;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  font-style: normal;
  color: var(--textColor);
}

input.search--input::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  font-style: normal;
  color: #353535;
}
input.search--input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  font-style: normal;
  color: #353535;
}
input.search--input::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  font-style: normal;
  color: #353535;
}
input.search--input:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  font-style: normal;
  color: #353535;
}
input.search--input:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  font-style: normal;
  color: #353535;
}

.search--input:focus {
  outline: none;
}
